* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Avenir;
	margin: 1%;
}

header {
	background: rgb(255,242,242);
	display: flex;
	justify-content: space-between;
	padding: 1.5% 0 1.5% 0;
}

ul.navTop {
	background: rgb(141,23,21);
	color:  white;
	padding-left: 1%;
}

ul.navBottom {
	padding-left: 1%;
}

li.liNav {
	display: inline;
	padding-right: 1%
}

#background {
	margin: 0;
	padding: 0;
}


#heading {
	font-size: 300%;
	color:  white;
	position: absolute;
	padding: 2% 0 0 1%;
}

#calculation {
	width: 80%;
	height: 112%;
	border: 3px solid rgb(118,118,118);
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 40%;
	left: 10%;
}

h1 {
	text-align: center;
	font-size: 400%;
	padding: 1% 15% 0 15%;
}



#form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

input {
	font-size: 1.5em;
}

select {
	font-size: 1.5em;
}

.submit {
	text-align: center;
}

#submit {
	background: rgb(51,146,53);
	color: white;
	border: 0;
	border-radius: 4px;
	padding: 0.5% 5% 0.5% 5%;
}

#output {
	width: 90%;
	color: rgb(51,146,53);
	font-size: 2em;
	position: absolute;
	top: 89%;
	left: 50%;
	margin-left: -45%;
	text-align: center;
}

#selection {
	display: flex;
	justify-content: space-around;
	margin: 4% 0 4% 0;
}

li {
	list-style-type: none;
}

.borders {
	width: 300px;
	border: 1px solid black;
	padding: 3%;
	box-shadow: 1px 2px 2px gray;
}

#covText {
	background: rgb(206,206,206);
	text-align: center;
	margin-top: -6px;
	padding: 3% 34% 2% 34%;
}

h3 {
	color: rgb(80,103,144);
}

ul.navBottom {
	background: black;
	color: white;
}

footer {
	background: black;
}

.pFoot {
	color: white;
	text-align: center;
}

#logoBottom {
	position: relative;
	left: 85%;
}

#container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*#image {
	display: flex;
	flex-direction: column;
}*/

.link {
	text-decoration: none;
	color: white;
}

p {
	color: black;
}

li .class {
	color: black;
}





/* media query for mobile phones */
@media screen and (max-width: 480px) {
  header {
    background-color: blue;
  }

  h1 {
	text-align: center;
	font-size: 150%;
	padding: 1% 15% 0 15%;
}

#calculation {
	width: 80%;
	height: 31%;
	border: 3px solid rgb(118,118,118);
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 22%;
	left: 10%;
}

#heading {
	font-size: 200%;
	color:  white;
	position: absolute;
	padding: 2% 0 0 1%;
}

input {
	font-size: 0.9em;
}

select {
	font-size: 0.9em;
}

#covText {
	background: rgb(206,206,206);
	text-align: center;
	margin-top: -6px;
	padding: 3% 10% 2% 10%;
}

#logoBottom {
	position: relative;
	left: 55%;
}

}

















